@model Domain.Entities.NTGLevelThreeDiagnosis

@{ 
   Layout = "~/Views/Shared/_AdminLayout.cshtml";
   var (module, parent) = (Context.Request.Query["module"].ToString(), Context.Request.Query["parent"].ToString());
}

<div class="row ps-2 pe-2 ps-sm-4 pe-sm-4 offset-1 CardOffset">
   <div class="col-md-10 col-lg-10 p-0 ps-sm-4 ClCard">

         <!--ALERT MESSAGE-->
         @if (TempData[Utilities.Constants.SessionConstants.Message] != null)
         {
            <div class="alert alert-success alert-dismissible show fade  mt-1" role="alert">
               <i class=""></i>&nbsp;@TempData[Utilities.Constants.SessionConstants.Message]
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
         }

        <div class="card">
            <div class="card-body ps-4 pe-4 ps-sm-5 pe-sm-5">
             
                <!--HEADER-->
                <div class="pagetitle">
                    <h4 class="card-title fs-2 fw-bold mb-0">NTG Level Three Diagnosis</h4>
                    <p class="mb-1" style="font-size:14px">Fields marked by <span class="text-danger">*</span> are mandatory</p>
                    <hr class="mt-0">
                </div>

                <!--FORM START-->
                <form class="row g-1" method="post" asp-action="Create" asp-controller="NTGLevelThreeDiagnosis">
                    <input type="hidden" value="@ViewBag.NTGLevelTwoID" asp-for="NTGLevelTwoId" />
                  <input type="hidden" name="module" value="@module" />
                  <input type="hidden" name="parent" value="@parent" />

                    <!--NTG Level Two-->
                    <div class="col-md-12">
                        <div class="form-floating mb-2">
                            <span>NTG Level Two Diagnosis :</span>
                            <span class="fs-6 fw-bold mb-0">@ViewBag.NTGLevelTwo</span>
                        </div>
                    </div>

                    <!--Diagnosis-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <input asp-for="Description" type="text" id="name" class="form-control" data-val="true" data-val-required="Required." data-val-length-max="90" data-val-length-min="2" data-val-length="Diagnosis should be atleast 2 digits.">
                            <label class="required" asp-for="Description">NTG Level Three</label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <!--ICDID-->
                    @* <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <select asp-for="ICDId" class="form-select" aria-label="State" asp-items="@ViewBag.ICD">
                                <option value="">Select</option>
                            </select>
                            <label asp-for="ICDId">ICD</label>
                            <span asp-validation-for="ICDId" class="text-danger"></span>
                        </div>
                    </div> *@


                     <div class="col-md-12 mt-3">
                        <div class="col-md-6">
                           <label>ICD Code :</label>
                        </div>

                        <div class="form-floating mt-1">
                           <select asp-for="ICDId" class="form-select select2" data-show-subtext="true" data-live-search="true" asp-items="@ViewBag.ICD">
                               <option value="" class="pt-2">Select</option>
                           </select>
                           <span asp-validation-for="ICDId" class="text-danger"></span>
                        </div>
                     </div>

                    <!--ClinicalFeatures-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <textarea asp-for="ClinicalFeatures" type="text" id="name" class="form-control" rows="4" style="height:25%"></textarea>
                            <label asp-for="ClinicalFeatures">Clinical Features</label>
                            <span asp-validation-for="ClinicalFeatures" class="text-danger"></span>
                        </div>
                    </div>

                    <!--RecommendedInvestigations-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <textarea asp-for="RecommendedInvestigations" type="text" id="name" class="form-control" rows="4" style="height:25%"></textarea>
                            <label asp-for="RecommendedInvestigations">Recommended Investigations</label>
                            <span asp-validation-for="RecommendedInvestigations" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Investigation Notes-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <textarea asp-for="InvestigationNotes" type="text" id="name" class="form-control" rows="4" style="height:25%"></textarea>
                            <label asp-for="InvestigationNotes">Investigation Notes</label>
                            <span asp-validation-for="InvestigationNotes" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Treatment Notes-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <textarea asp-for="TreatmentNotes" type="text" id="name" class="form-control" rows="4" style="height:25%"></textarea>
                            <label asp-for="TreatmentNotes">Treatment Notes</label>
                            <span asp-validation-for="TreatmentNotes" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Pharmacy-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <textarea asp-for="Pharmacy" type="text" id="name" class="form-control" rows="4" style="height:25%"></textarea>
                            <label asp-for="Pharmacy">Pharmacy</label>
                            <span asp-validation-for="Pharmacy" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Complications-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <textarea asp-for="Complications" type="text" id="name" class="form-control" rows="4" style="height:25%"></textarea>
                            <label asp-for="Complications">Complications</label>
                            <span asp-validation-for="Complications" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Prevention-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <textarea asp-for="Prevention" type="text" id="name" class="form-control" rows="4" style="height:25%"></textarea>
                            <label asp-for="Prevention">Prevention</label>
                            <span asp-validation-for="Prevention" class="text-danger"></span>
                        </div>
                    </div>

                     <!--ACTIONS-->
                     <div class="col-12 mt-0 mt-3 text-center">
                        <button class="btn btn-primary btn-lg mx-2" id="btnSave" type="submit">
                           <i class="bi bi-check2-circle"></i> Submit
                        </button>
                        <a href="/NTGLevelThreeDiagnosis/Index?module=@module&parent=@parent&oid=@ViewBag.NTGLevelTwoID" class="btn btn-secondary btn-lg"><i class="bi bi-x-circle"></i> Close</a>
                     </div>

                </form>

            </div>
        </div>
    </div>
</div>